.projects{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

/* PROJECTs DEFAULT */
.project{
    margin: 10px 0;
    position: relative;
    transition: 200ms transform ease-in-out;
}

.project__image{
    width: var(--width-img-project-offfocus);
    height: var(--width-img-project-offfocus);
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}

.project__name{
    font-size: 2em;
}

.project__image img{
    float: left;
}
.project__image figcaption{
    visibility: hidden;
}

/* PROJECTs FOCUS FALSE */
.project[data-focus="false"] mark::after{
    visibility: hidden;
}

.project[data-focus="false"]:hover{
    transform: scale(110%);
}

.project[data-focus="false"] .project__name{
    width: 100%;
    font-size: 1em;
    text-align: center;
    position: absolute;
    bottom: calc(
        var(--width-img-project-offfocus) / 2 - 0.5em
    );
    left: 0;
}

.project[data-focus="false"] .project__description{
    visibility: hidden;
    font-size: 0px;
}

/* PROJECTs FOCUS TRUE */
.project[data-focus="true"]{
    width: 100%;
    margin: 4em 0;
}

.project[data-focus="true"] .project__image{
    width: var(--width-img-project-onfocus);
    height: var(--width-img-project-onfocus);
    float: left;
    margin: 0 4em 0 0;
    cursor: default;
}

.project__content{
    width: calc(
        100% -
        ( var(--width-img-project-onfocus)  + 4em ) /* Tamanho da imagem do lado mais margin-right*/
    );
    float: left;
}