:root{
    --primary-color: #00FFCC;
    --primary-color-variant: #00AA88;

    --secondary-color: #FF6600;

    --logo-width: 216px;
    --logo-heigth: 416px;

    --width-img-project-offfocus: calc( 100vw / 9 ) ;
    --width-img-project-onfocus: calc( (100vw / 9) * 2 );
}
*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

/* SÓ TESTE, MAS QUE FUNCIONA */
img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
}
::selection{
    background-color: rgba(255, 102, 0, 0.25);
}
svg path{
    fill: white;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
button, [type="button"], [type="submit"]{
    border: none;
}